.first{
    color: red;
    font-size: 60px;
}
.second{
    color: rgb(101, 0, 0);
    font-size: 60px;
}
.third{
    color: green;
    font-size: 60px;
}
.four{
    color: blue;
    font-size: 60px;
}