.container{
    display: flex;
    height: 400px;
    width: 600px;
    background-color: blue;
    border: none;
    flex-direction: row-reverse;
}

.items{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 2px solid white;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

*{
    background-color: #111;
}